Repository kosmos-industrie40/kosmos-ml-wrapper: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint, black, test, build, test_template

pylint:
  stage: Static Analysis
  image: python:3.8
  before_script:
  - python --version
  - python setup.py develop
  - pip install pylint
  tags:
  - shared
  script:
  - pylint src
  - pylint --rcfile tests/.pylintrc tests

black:
  stage: Static Analysis
  image: python:3.8
  before_script:
  - pip install -r requirements.txt
  - pip install black
  tags:
  - shared
  script:
  - black --check src
  - black --check tests

test:
  stage: Unit Test
  image: python:3.8
  needs: []
  before_script:
  - python setup.py develop
  tags:
  - shared
  artifacts:
    reports:
      junit: junit.xml
      cobertura: coverage.xml
  script:
  - python setup.py test

build:
  stage: Build
  image: python:3.8
  needs:
  - test
  - black
  - pylint
  before_script:
  - pip install wheel
  tags:
  - shared
  artifacts:
    paths:
    - dist/*.whl
  script:
  - python setup.py sdist bdist_wheel

test_template:
  stage: Templating
  image: python:3.8
  tags:
  - shared
  dependencies:
  - build
  before_script:
  - pip install cookiecutter
  - pip install pyscaffold
  - pip install ./dist/*.whl
  - pip install pytest
  - pip install yamllint
  - pip install pandas
  - git config --global user.email "testing@example.com"
  ...

Include non-persistent result by temporary topic
  .pylintrc
  src/examples/usage_example.py
  src/ml_wrapper/config.ini
  src/ml_wrapper/messaging.py
  src/ml_wrapper/ml_wrapper.py
  templates/{{ cookiecutter.project_name_in_src }}/{{ cookiecutter.src_folder_name }}/{{cookiecutter.project_name_in_src}}/{{cookiecutter.ml_tool_name}}.py
  tests/.pylintrc
  tests/mock_ml_tools.py
  tests/test_mlwrapper.py
Due: pylint, black, test, build, test_template

Include non-persistent result by temporary topic
  tests/test_messaging.py
Due: pylint, black, test, build, test_template

pylint super() python 3 style
  tests/mock_ml_tools.py
Due: pylint, black, test, build, test_template

assure compatibility with prvious version!
  src/ml_wrapper/messaging.py
Due: pylint, black, test, build, test_template

Update docstring mlwrapper
  src/ml_wrapper/ml_wrapper.py
Due: pylint, black, test, build, test_template

Update json-specifications
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/analysis-example-multiple_time_series.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/analysis-example-text.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/analysis-example-time_series.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/analysis/__init__.py
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/analysis/example-multiple_time_series.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/analysis/example-text.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/analysis/example-time_series.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/analysis/formal.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/blockchain-example.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/blockchain-formal.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/contract-example.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/contract-formal.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/data-example-2.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/data-example-3.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/data-example.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/data-formal.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/data/__init__.py
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/data/example-2.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/data/example-3.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/data/example.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/data/formal.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/failed.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-analysis-example.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-formal.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-trigger/__init__.py
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-trigger/analysis-example.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-trigger/fail-example.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-trigger/formal.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-trigger/update-example-2.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-trigger/update-example.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-update-example.json
  update_json_specifications.sh
Due: pylint, black, test, build, test_template

Correction in formal definition
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/analysis/formal.json
  src/ml_wrapper/kosmos_json_specifications/mqtt_payloads/ml-trigger/formal.json
Due: pylint, black, test, build, test_template

Ignore snake case due to issues in json specification
  .pylintrc
Due: pylint

Update JSON provision to updated message format
  src/ml_wrapper/json_provider.py
  tests/test_json_validator.py
Due: pylint, black, test, build, test_template

Update messaging, ml_wrapper and tests to support new json specifications
  src/ml_wrapper/messaging.py
  src/ml_wrapper/ml_wrapper.py
  tests/test_convert_data.py
  tests/test_messaging.py
  tests/test_mlwrapper.py
Due: pylint, black, test, build, test_template

Readme correction
  README.rst
Due: none

Changelog update for to be realeased
  CHANGELOG.rst
Due: none

Provide Metadata for columns if sensor update message
  src/ml_wrapper/convert_data.py
  src/ml_wrapper/messaging.py
  tests/test_convert_data.py
  tests/test_messaging.py
Due: pylint, black, test, build, test_template

Move from unittest to pytest
  tests/conftest.py
  tests/convert_data/conftest.py
  tests/convert_data/test_convert_data.py
  tests/messaging/conftest.py
  tests/messaging/test_messaging.py
  tests/ml_wrapper/conftest.py
  tests/ml_wrapper/test_ml_wrapper.py
  tests/ml_wrapper/test_mlwrapper.py
  tests/ml_wrapper/test_threadcases.py
  tests/ml_wrapper/test_threading.py
  tests/mock_ml_tools.py
  tests/test_functions.py
Due: pylint, black, test, build, test_template

Black and pylint corrections
  src/ml_wrapper/message_type.py
  src/ml_wrapper/messaging.py
  src/ml_wrapper/ml_wrapper.py
  tests/.pylintrc
  tests/conftest.py
  tests/convert_data/__init__.py
  tests/convert_data/conftest.py
  tests/convert_data/test_convert_data.py
  tests/messaging/__init__.py
  tests/messaging/conftest.py
  tests/messaging/test_messaging.py
  tests/ml_wrapper/__init__.py
  tests/ml_wrapper/test_ml_wrapper.py
  tests/ml_wrapper/test_threadcases.py
  tests/test_functions.py
Due: pylint, black, test, build, test_template

Correction of exceptions.py
  src/ml_wrapper/exceptions.py
Due: pylint, black, test, build, test_template

Init-hook for pylint to include src
  .pylintrc
  tests/.pylintrc
Due: pylint, black, test, build, test_template

Move structure for pytest
  .gitignore
  setup.cfg
  tests/.gitkeep
  tests/conftest.py
  tests/convert_data/conftest.py
  tests/convert_data/test_convert_data.py
  tests/messaging/conftest.py
  tests/messaging/test_messaging.py
  tests/ml_wrapper/conftest.py
  tests/ml_wrapper/test_mlwrapper.py
  tests/ml_wrapper/test_threading.py
  tests/test_convert_data.py
  tests/test_functions.py
  tests/test_helper.py
  tests/test_json_validator.py
  tests/test_messaging.py
Due: pylint, black, test, build, test_template

Use async_ready function
  templates/{{ cookiecutter.project_name_in_src }}/{{cookiecutter.test_folder_name}}/test_{{ cookiecutter.ml_tool_name }}.py
Due: none

Save for changing
  src/ml_wrapper/exceptions.py
  src/ml_wrapper/message_type.py
  src/ml_wrapper/messaging.py
Due: pylint, black, test, build, test_template

Update gitignore
  .gitignore
Due: none

Provide async_not_ready officially
  CHANGELOG.rst
  src/ml_wrapper/ml_wrapper.py
  templates/{{ cookiecutter.project_name_in_src }}/{{cookiecutter.test_folder_name}}/test_{{ cookiecutter.ml_tool_name }}.py
Due: pylint, black, test, build, test_template

Ml wrapper log in async_ready function
  src/ml_wrapper/ml_wrapper.py
Due: pylint, black, test, build, test_template

Remove src. for imports
  .gitlab-ci.yml
  src/ml_wrapper/exceptions.py
  templates/{{ cookiecutter.project_name_in_src }}/.gitlab-ci.yml
  templates/{{ cookiecutter.project_name_in_src }}/{{cookiecutter.test_folder_name}}/conftest.py
  templates/{{ cookiecutter.project_name_in_src }}/{{cookiecutter.test_folder_name}}/{{cookiecutter.ml_class_name}}Mock.py
  tests/conftest.py
  tests/convert_data/test_convert_data.py
  tests/messaging/test_messaging.py
  tests/ml_wrapper/test_mlwrapper.py
  tests/ml_wrapper/test_threading.py
  tests/mock_ml_tools.py
  tests/test_functions.py
Due: pylint, black, test, build, test_template

Rollback messaging.py
  src/ml_wrapper/messaging.py
Due: pylint, black, test, build, test_template

Changelog for next version
  CHANGELOG.rst
Due: none

pipeline trigger
  tests/convert_data/conftest.py
Due: none

pylint correction in pipeline
  .gitlab-ci.yml
Due: pylint, black, test, build, test_template

Publish your package
  .gitlab-ci.yml
  .pypirc
Due: pylint, black, test, build, test_template

typo ci
  .gitlab-ci.yml
Due: pylint, black, test, build, test_template

only run on master tags
  .gitlab-ci.yml
Due: pylint, black, test, build, test_template

Next test
  .gitlab-ci.yml
Due: pylint, black, test, build, test_template

Next test
  .gitlab-ci.yml
  .pypirc
Due: pylint, black, test, build, test_template

Path conditions:
  pylint: any of: .gitlab-ci.yml, src/**/*, tests/*, .pylintrc
  black: any of: .gitlab-ci.yml, src/**/*, tests/*
  test: any of: .gitlab-ci.yml, src/**/*, tests/*
  build: any of: .gitlab-ci.yml, src/**/*, tests/*, requirements.txt, setup.*
  test_template: any of: .gitlab-ci.yml, src/**/*, tests/*, requirements.txt, setup.*
